.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameBoard {
  position: relative;
  background-color: #fff;
  border: 1px solid blue;
}

.snakeDot, .foodDot, .obstacleDot {
  position: absolute;
  background-color: green;
  border-radius: 20%;
}

.foodDot {
  background-color: red;
}

.obstacleDot {
  background-color: blue;
}

.gameOver {
  color: red;
}
